datacenter = "local"
data_dir = "/opt/consul"
encrypt = "{{ gossip_key }}"
server = true
disable_keyring_file = true
verify_incoming = true
verify_outgoing = true
verify_server_hostname = true

ca_file = "/etc/consul.d/certs/consul-agent-ca.pem"
cert_file = "/etc/consul.d/certs/local-server-consul-0.pem"
key_file = "/etc/consul.d/certs/local-server-consul-0-key.pem"

auto_encrypt {
  allow_tls = true
}

retry_join = ["{{ retry_join }}"]
