server = true
bootstrap_expect = {{ server_nb }}

bind_addr = "{{ ansible_facts['eth1']['ipv4']['address'] }}"

client_addr = "{{ ansible_facts['eth1']['ipv4']['address'] }}"

connect {
  enabled = true
}

# addresses {
#   grpc = "{{ ansible_facts['eth1']['ipv4']['address'] }}"
#   http = "{{ ansible_facts['eth1']['ipv4']['address'] }}"
#   https = "{{ ansible_facts['eth1']['ipv4']['address'] }}"
# }

ports {
  grpc  = 8502
}

ui_config {
  enabled = {{ (inventory_hostname == groups['consul_cluster'][0]) | string | lower }}
}